@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');




.pagina-Landing {

    .cabecalho {
        

        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 30px;
        background-color: #f5c9b4;
        max-height: 100px;



        nav ul {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 190px;
            margin-left: 210px;
        }

        nav ul .sob {
            text-decoration: underline;
        }

        nav ul .por {
            text-decoration: underline;
        }

        nav ul .sup {
            text-decoration: underline;

        }


        .logo {
            
            margin: 2px;
            width: 190px;

        }


        nav {
            position: relative;
        }

        nav ul {
            list-style: none;
            padding: 0;

        }

        nav ul li {

            display: inline;
            margin: 0 10px;
            color: #000000;
            font-family: 'Kanit';
            font-size: 18px;
        }


    }


    .principal {

        display: flex;
        flex-direction: column;
        padding: 0px;

        .secao1 {
            display: flex;
            flex-direction: column;


            .fundo {
                max-width: 100%;

            }

            .texto1 {


                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                position: absolute;
                margin-top: 90px;
                margin-left: 115px;
                gap: 20px;


                h3 {

                    width: 500px;
                    color: #f8f8f8;
                    font-size: 50px;
                    text-shadow: 1px 1px 3px #000;
                    font-family: 'Noto Sans';
                    box-sizing: 3px;
                    padding: 20px;
                    border-radius: 0.5em;
                }

               .opacidade h3 {
                background-color: #f7f7f7;
                color: #000000;
                opacity: 0.5;
               }
                    
                p {

                    width: 450px;
                    font-size: 22px;
                    color: #fff;
                    text-shadow: 1px 1px 3px #000;
                    font-family: 'Roboto';

                }

            }


        }


        .secao2 {

            margin-top: 0px;

            background-color: #242631;
            
           

            h2 {

                text-align: center;
                color: #fff;
                margin-top: 20px;
                font-family: 'Oswald';

            }


        }

 

        .brands {

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 10px;
            position: relative;
            overflow: hidden;
            width: 100%;
            margin-top: 10px;
        }

        @keyframes slide {
            0% {
                transform: translateX(0);
            }

            50% {
                transform: translateX(-50%);
            }
        }

        .brands img {
            width: 150px;
            flex-shrink: 0;
        }

        .brands {
            display: flex;
            width: calc(50% * 2);
            animation: slide 10s infinite linear;
        }

        .brands img {
            width: 150px;
            height: auto;
        }


        .secao3 {
            background-color: #1b1d29; 
            color: #fff;
            padding: 3em;
            
            .texto3 .h2 {
                margin-top: 90px;
                margin-left: 50px;
                font-family: 'Oswald';
                width: 400px;
               
            }

            .cartao {
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background-color: #181e3d;
                color: #fff;
                border-radius: 2px;
                margin-top: 2em;
              

                .cartao1 {
                    
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 8em;
                    padding: 3em;
                    
                    .imagens1 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                       
                        img {
                            width: 30em;
                            height: 20em;
                            border-radius: 5em;
                        }

                        h1 {
                            margin-top: 0px;
                            text-align: center;
                            font-family: 'Oswald';
                            width: 400px;
                        }

                    }

                    .imagens2 {
                        
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

     
                        

                        img {
                            width: 30em;
                            height: 20em;
                            border-radius: 3em;
                        }

                        h2 {
                            margin-top: 10px ;
                            text-align: center;
                            font-family: 'Oswald';
                            width: 400px;
                        }
                    }

                }

                .cartao2 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 8em;
                    padding: 3em;

                    .imagens3 {
                       
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 30em;
                            height: 20em;
                            border-radius: 3em;
                        }

                        h3 {
                            margin-top: 10px;
                            text-align: center;
                            font-family: 'Oswald';
                            width: 100px;
                        }
                    }

                    .imagens4 {
                        
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        img {
                            width: 30em;
                            height: 20em;
                            border-radius: 3em;
                        }

                        h4 {
                            margin-top: 10px;
                            text-align: center;
                            font-family: 'Oswald';
                            font-size: 20px;
                            width: 400px;
                            
                        }

                    }

                }

            }

        }

    }

}